<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted d-r t-r">ثبت نام دستگاه کارتخوان گروهی:</p>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0 titleheader">
                                    درج مشخصات
                                </h3>
                            </div>
                            <div class="card-body">
                                <form class="form">
                                    <div class=" row form-group">
                                        <div class="col-md-3">
                                            <label class="d-r t-r">نام شرکت</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="companyName" placeholder="نام شرکت">
                                        </div>
                                    </div>
                                    <div class=" row form-group">
                                        <div class="col-md-3">
                                            <label>کد ملی نماینده شرکت</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="meliCodeAgentCompany" placeholder="کد ملی نماینده شرکت ">
                                        </div>
                                    </div>
                                    <div class=" row form-group">
                                        <div class="col-md-3">
                                            <label>نام نماینده شرکت</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="nameAgentCompany" placeholder="نام نماینده شرکت ">
                                        </div>
                                    </div>
                                    <div class=" row form-group">
                                        <div class="col-md-3">
                                            <label>موبایل</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="tel" class="form-control" id="mobilePhone"
                                                placeholder="موبایل ">
                                        </div>
                                    </div>
                                    <div class=" row form-group">
                                        <div class="col-md-3">
                                            <label>تلفن ثابت</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="tel" class="form-control" id="Phone"
                                                placeholder="تلفن ثابت ">
                                        </div>
                                    </div>
                                    <div class=" row form-group">
                                        <div class="col-md-3">
                                            <label>استان</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="custom-select" id="state">
                                                <option selected>استان مورد نظر را انتخاب کنید</option>
                                                <option value="1">تهران</option>
                                                <option value="2">تبریز</option>
                                                <option value="3">رشت</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class=" row form-group">
                                        <div class="col-md-3">
                                            <label>شهرستان</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="custom-select" id="city">
                                                <option selected>شهرستان مورد نظر را انتخاب کنید</option>
                                                <option value="1">گرمسار</option>
                                                <option value="2">ورامین</option>
                                                <option value="3">دماوند</option>
                                              </select>
                                        </div>
                                    </div>     
                                    <button type="button" class="btn btn-outline-success leftbtn" (click)="openModal(template)">ثبت درخواست</button>                                                                          
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <ng-template #template>
                <div class="modal-body text-center">
                  <p>ثبت درخواست شما با موفقیت انجام شد، حداکثر طی 3روز کاری آینده به منظور دعوت و تکمیل اطلاعات با شما تماس حاصل خواهد شد. در صورت عدم برقراری ارتباط ضمن مراجعه مجدد به همین سامانه موضوع عدم تماس همکاران صندوق را اطلاع رسانی نمایید تا در اسرع وقت رسیدگی شود.</p>
                  <button type="button" class="btn btn-primary" (click)="confirm()" >تایید</button>
                   </div>
              </ng-template>

        </div>
    </div>
</section>
