
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-9 ">
          <div class="acceptor-content">
            <h3 class="text-green d-r t-r">پذیرنده گرامی</h3>

            <p class="d-r t-r">به سامانه ثبت و پیگیری درخواست دستگاه کارتخوان خوش امدید، لطفاً جهت اطلاعات بیشتر و  ثبت و پیگیری درخواست بر
              روی دکمه مربوطه کلیک نمائید.</p>
            <div class="text-center text-md-left">
              <button type="button" class="btn btn-outline-success ml-3" routerLink='/follow-up-pose'>ثبت درخواست</button>
              <button type="button" class="btn btn-outline-success btnHomePage" routerLink='/request-pose'>پیگیری درخواست</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-5 mt-md-0">
          <img class="img-fluid w-100" src="../../assets/img/picHomePage.png">
        </div>
      </div>
    </div>
</section>
